.item {
	display: flex;
	align-items: center;

	.circle {
		background-color: var(--gray);
		width: 35px;
		height: 35px;
		border-radius: 20px;
		margin: 20px 0px;
	}

	.crypto-data {
		width: 100%;
		margin-left: 20px;

		& > div {
			display: flex;
		}

		.name {
			font-weight: 500;
		}

		.value {
			margin-left: auto;
		}

		.short-name {
			color: var(--gray);
		}

		.variant {
			margin-left: auto;
		}
	}
}

.green {
	color: var(--green);
}

.red {
	color: var(--pink);
}
