.dashboard {
	height: calc(100% - 170px);
	.head {
		margin: 30px;
		.title {
			font-size: var(--text2);
			color: var(--light-purple);
		}
		.value {
			font-size: var(--text1);
			color: var(--white);
		}
	}

	.content {
		background-color: white;
		border-top-right-radius: var(--border2);
		border-top-left-radius: var(--border2);
		padding: 30px;
		position: relative;
		height: 90%;

		animation: 1s ease-out 0s 1 slideInFromLeft;

		.title {
			color: var(--gray);
			text-align: left;
		}

		.transaction-container {
			position: absolute;
			bottom: 70px;
			width: 96vw;

			button {
				background-color: var(--dark-blue);
				color: var(--white);
				border-radius: var(--border1);
				padding: 10px 30px;
			}
		}

		@media screen and (max-width: 768px) {
			height: 85%;

			.transaction-container {
				width: 90vw;
			}
		}
	}
}

@keyframes slideInFromLeft {
	0% {
		transform: translateY(100%);
	}
	100% {
		transform: translateY(0);
	}
}
