@import "../../assets/font.scss";
@import "../../assets/border-styles.scss";
@import "../../assets/colors.scss";

.dashboard {
	height: calc(100% - 170px);
	.head {
		margin: 30px;
		.title {
			font-size: $text2;
			color: $light-purple;
		}
		.value {
			font-size: $text1;
			color: $white;
		}
	}

	.content {
		background-color: white;
		border-top-right-radius: $border2;
		border-top-left-radius: $border2;
		padding: 30px;
		position: relative;
		height: 90%;

		.title {
			color: $gray;
			text-align: left;
		}

		.transaction-container {
			position: absolute;
			bottom: 70px;
			width: 96vw;

			button {
				background-color: $dark-blue;
				color: $white;
				border-radius: $border1;
				padding: 10px 30px;
			}
		}

		@media screen and (max-width: 768px) {
			height: 85%;

			.transaction-container {
				width: 90vw;
			}
		}
	}
}
