.header {
	color: var(--white);
	font-size: var(--text1);
	height: 80px;

	.content {
		position: relative;
		padding: 10px;

		& i {
			position: absolute;
			right: 2%;
			font-size: 30px;
			top: 20px;
		}
	}
}
