.footer {
	position: fixed;
	bottom: 0;
	background-color: var(--white);
	height: 70px;
	width: 100%;

	.row {
		height: 100%;
	}

	.footer-button {
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;

		i {
			font-size: 30px;
			color: var(--dark-blue);
			border: 1px solid var(--dark-blue);
			border-radius: var(--border1);
			padding: 10px;
		}

		&.active {
			i {
				background-color: var(--dark-blue);
				color: var(--white);
			}
		}
	}

	@media screen and (max-width: 768px) {
		height: 90px;
		padding: 0px 15px 15px 15px;

		.footer-button {
			i {
				font-size: 35px;
				padding: 13px;
			}
		}
	}
}
