@import "./assets/_font.scss";
@import "./assets/_colors.scss";
@import "./assets/_border-styles.scss";
@import "~bootstrap/scss/bootstrap";

.App {
	text-align: center;
	background-color: var(--dark-blue);
	height: 100vh;
}
